<!DOCTYPE html>
<html lang="es">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Formulario de Asistencia</title>
</head>

<body>
    {% block content %}
    <div class="formulario-container">
        <h2>Formulario de Asistencia</h2>

        <form action="#" method="post">

            {% csrf_token %}
            {{ form.as_p }}
            {{error}}
            <button type="submit">Registrar Asistencia</button>
        </form>
    </div>

    {% endblock %}
</body>

</html>