{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="hero" id="hero">
<div class="container" >

    <h2 class="h2-sub">
        <span class="fil">B</span>ienvenido
    </h2>
    <h1 class="head">Restaurante</h1>
    <div class="he-des">
        <h5>Lorem t dol</h5>
    </div>
</section>
</div>
<body>




    <section class="dis-sto">
        <div class="container">
            <div class="res-info">
                <div>
                    <img src="{% static 'imagenes/fondo.jpg' %}" alt="arado">
                </div>
                <div class="res-des pad-rig">
                    <div class="global">
                        <h2 class="h2-sub">
                            <span class="fil">D</span>escubre
                        </h2>
                        <h1 class="head hea-dark">La Historia</h1>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Doloremque veniam autem qui magnam ex tempora atque, voluptas
                        voluptatem, recusandae porro corporis assumenda.
                        Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                    </p>
                   
                </div>

            </div>
        </div>
    </section>

    <section class="taste bt">
        <div class="container">
            <div class="global">
                <h2 class="h2-sub">
                    <span class="fil">P</span>latillos
                </h2>
                <h1 class="head">Lorem</h1>
            </div>
        </div>
    </section>

    <section class="disco">
        <div class="container">
            <div class="res-info">
                <div class="res-des">
                    <div class="global">
                        <h2 class="h2-sub">
                            <span class="fil">D</span>escubre
                        </h2>
                        <h1 class="head hea-dark">Menu</h1>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Doloremque veniam autem qui magnam ex tempora atque, voluptas
                        voluptatem, recusandae porro corporis assumenda.
                        Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                    </p>
                </div>
                <div class="image-group pad-rig">
                    <img src="{% static 'imagenes/huerta.jpg' %}" alt="arado">
                    <img src="{% static 'imagenes/platano comino.jpeg' %}" alt="arado">
                    <img src="{% static 'imagenes/platano harton.jpg' %}" alt="arado">
                    <img src="{% static 'imagenes/imagen3.jpg' %}" alt="arado">

                </div>

            </div>
        </div>
    </section>

    <section class="pb bt">
        <div class="container">
            <div class="global">
                <h2 class="h2-sub">
                    <span class="fil">P</span>latillos
                </h2>
                <h1 class="head">Lorem</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="res-info">

                <div class="image-group">
                     <img src="{% static 'imagenes/imagen3.jpg' %}" alt="arado">
                     <img src="{% static 'imagenes/imagen3.jpg' %}" alt="arado">
                </div>
                <div class="res-des pad-rig">
                    <div class="global">
                        <h2 class="h2-sub">
                            <span class="fil">D</span>egusta
                        </h2>
                        <h1 class="head hea-dark">Delisioso menu</h1>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Doloremque veniam autem qui magnam ex tempora atque, voluptas
                        voluptatem, recusandae porro corporis assumenda.
                        Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                    </p>
                </div>

            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="footer-content">

                <div class="footer-content-about">
                    <h4>Nosotros</h4>
                    <div class="circle">
                        <i class="fas fa-circle"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Praesentium odio labore dolorum veritatis, culpa cumque eum
                        reprehenderit iure, commodi, repellat eaque possimus obcaecati
                        assumenda exercitationem?
                        Aperiam provident accusantium laboriosam. Necessitatibus!</p>
                </div>
                <div class="footer-div">
                    <div class="social-media">
                        <h4>Siguenos</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-tripadvisor"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Noticias</h4>
                        <form action="" class="news-form">
                            <input type="text" class="news-input" placeholder="Escribe tu email">
                            <button class="news-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </footer>



    {% endblock %}
</body>

</html>










</section>
</main>