{% extends '../base.html' %}

{% block content %}

<div class="text- center">
    <h1>Reestablecer contraseña</h1>
    <h6>Porfavor introduce la nueva contraseña para verificar</h6>
</div>
<br />
<form method="POST">
    {% csrf_token %}
    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
    <input type="submit" value="reestablecer contraseña"/>


</form>


{% endblock %}